/* ***** PRINTS ***** */
.print-header {
  display: flex;
  justify-content: center;
}
.print-container-description {
  display: flex;
  justify-content: center;
}
.allprints-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}
.single-print-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0 0 1em rgb(158, 159, 166);
}

#ringImg {
  border: 2pt black solid;
  width: 60%;
}
